.--home-info .info-overlay {
    inset: 0;
    background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.65));
}

.--home-info .info-overlay .info-content {
    margin-left: 5%;
}

.--home-info .info-overlay .info-content .title {
    font-size: clamp(2rem, 4vw, 3.5rem);
}

.--home-info .info-overlay .info-content p {
    line-height: 32px;
}

.--home-info .info-overlay .info-content .info-cta .btn-secondary {
    border: 1px solid var(--color-white);
}

.--home-info .info-overlay .info-content .info-cta .btn-secondary:hover {
    color: var(--color-dark);
    background-color: var(--color-white);
}


@media (min-width: 1024px) {

    .--home-info .info-overlay .info-content {
        max-width: 45%;
    }

}